
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Sikander PlayX</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/home.css" />

    <link
      href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap"
      rel="stylesheet"
    />
    <script src="../js/jquery.min.js"></script>

    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper@8/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="../css/new_style.css" />
    <script src="../js/bootstrap.bundle.js"></script>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/sample.js"></script>

    <style>
      swiper-container.mySwiper.button-slider swiper-slide {
        width: 25% !important;
        margin-right: 9px !important;
      }
      .h-36 {
        height: 36px;
      }
      .table.table.table-bordered.table-sm.table-bordered-cus.deposit_table td {
        padding: 7px;
        background-color: #d9d9d9;
        border: 1px solid #979797;
      }
      .table.table.table-bordered.table-sm.table-bordered-cus.deposit_table th {
        border: 1px solid #0c0c0c;
      }
      .text-dark_red {
        color: red !important;
      }
      .yellow {
        background-color: #f2ff00;
      }
      td {
        border-right: none !important;
      }
      .bg_dark_grey {
        background: #b3b3b3;
      }
    </style>
  </head>
  <body>
    <div class="container container-xs home-bg position-relative">
      <div
        class="home-header d-flex justify-content-between align-items-center pt-4 z-3 page-header"
      >
        <a
          href="deposite.html"
          class="btn btn-sm btn-grnd text-white fs-12 d-flex align-items-center justify-content-center"
        >
          <img src="../img/icon/icon-deposit.png" width="14" />
          <span class="ms-2 pl-5">Deposit</span>
        </a>
        <a href="./home.html">
          <img
            src="../img/home-x-logo.png"
            class="logo_xnew position-relative"
          />
        </a>

        <a
          href="withdrawal.html"
          class="btn btn-sm btn-grnd text-white fs-12 d-flex align-items-center justify-content-center"
        >
          <img
            src="../img/icon/icon-withdrawal.png"
            width="14"
            style="color: white"
          />
          <span class="ms-2">Withdrawal</span>
        </a>
      </div>
      <div class="home-header-bg-area"></div>

      <div
        class="container container-xs position-relative overflow-x_hidden p-0"
      >
        <div class="text-white fw-400 fs-15 mb-2 mt-3 pt-2">Bank Details</div>
        <div class="table-responsive">
          <table class="table-cus mb-2">
            <tbody>
              <tr>
                <td class="text-black">Bank Name</td>
                <td>
                  <img src="../img/icon/icon-bank.png" />
                </td>
                <td class="text-black">Indusind Name</td>
                <td>Copy</td>
                <td class="text-black">
                  <img src="../img/icon/icon-file-layer.png" />
                </td>
              </tr>
              <tr>
                <td class="text-black">A/C Name</td>
                <td>
                  <img src="../img/icon/icon-profile-circle.png" />
                </td>
                <td class="text-black">Sikander</td>
                <td class="text-black">Copy</td>
                <td>
                  <img src="../img/icon/icon-file-layer.png" />
                </td>
              </tr>
              <tr>
                <td class="text-black">A/C No</td>
                <td class="text-black">
                  <img src="../img/icon/icon-text-list.png" />
                </td>
                <td class="text-black">100048427261</td>
                <td class="text-black">Copy</td>
                <td>
                  <img src="../img/icon/icon-file-layer.png" />
                </td>
              </tr>
              <tr>
                <td class="text-black">IFSC</td>
                <td>
                  <img src="../img/icon/icon-text-list.png" />
                </td>
                <td class="text-black">INDB0000248</td>
                <td class="text-black">Copy</td>
                <td>
                  <img src="../img/icon/icon-file-layer.png" />
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="my-4">
          <label
            for="enterUtrNo"
            class="form-label text-white fs-13 fw-500 mb-0"
            >Enter UTR No.</label
          >
          <input
            type="text"
            value="85569741256358"
            class="form-control form-control-cus-pay fs-18 fw-600"
            id="enterUtrNo"
          />
        </div>

        <div class="row mt-5 justify-content-center mb-4">
          <div class="col-5" style="padding: 0 6px">
            <a
              href="./customerSupport.html"
              class="btn d-flex align-items-center justify-content-center bg-gray bg_dark_grey br-yellow px-3"
            >
              <img
                src="../img/whatsapp.png"
                style="width: 22px; margin-right: 5px"
              />
              <span class="fs-12 fw-900 lh-1"
                >Customer<br />
                Support</span
              >
            </a>
          </div>
          <div class="col-5" style="padding: 0 6px">
            <a
              href="./deposite.html"
              class="btn d-flex align-items-center justify-content-center bg-gray px-3 yellow br-yellow"
            >
              <img src="../img/deposit/pngwing 3.png" width="24px" />
              <span class="fs-16 fw-700 lh-1 text-purple">Previous</span>
            </a>
          </div>
          <div
            class="col-10 d-flex justify-content-center my-2"
            style="padding: 0 6px"
          >
            <a
              data-bs-toggle="modal"
              data-bs-target="#payment"
              class="btn btn-sm btn-success bg-green fw-600 px-5 br-yellow w-100 p-2"
              ><span class="fs-20 fw-600 lh-1">Pay</span></a
            >
          </div>
        </div>

        <div class="table-responsive">
          <table
            class="table table-bordered table-sm table-bordered-cus deposit_table"
          >
            <thead>
              <tr>
                <th>ID</th>
                <th>Amount</th>
                <th>Status</th>
                <th>Time</th>
                <th>File</th>
                <th>UTR No.</th>
                <th>Remark</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-center">1</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td class="text-center">2</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td class="text-center">3</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td class="text-center">4</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td class="text-center">5</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>

        <div
          class="pe-2 py-3 ps-0 border border-3 border-danger mt-5"
          style="background-color: #d9d9d9"
        >
          <div class="text-center text-dark_red fw-600 mb-2 fs-16 mt-3">
            RULES
          </div>
          <div>
            <ul class="fs-10 text-black fs-14">
              <li class="fw-500 mb-2">
                Transfer the amount through our safe payment gateway
              </li>
              <li class="fw-500 mb-2">
                Please make sure the payment details that you have entered is
                correct as they may change from time to time.
              </li>
              <li class="fw-500 mb-2">
                Sikanderpayx will not be responsible for mony deposited in old,
                inactive or closed accounts
              </li>
              <li class="fw-500 mb-2">Click on pay</li>
              <li class="fw-500 mb-2">
                The amount will be deposited to your account intantly
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!-- <div class="deposite-footer">
                <div class="d-flex justify-content-between align-items-center">
                    <img src="../img/secure.png" width="120" />
                    <a data-bs-toggle="modal" data-bs-target="#payment" class="btn btn-sm btn-success bg-green fw-600 px-5">Pay</a>
                </div>
                <div class="lh-1 text-center">
                    <span class="text-grey-50 fw-600 fs-8 lh-1">By Continuing, i confirm that i am 18+ years old & play from a permitted state.</span>
                    <span class="text-blue fw-600 fs-8 lh-1">View Bonus T&C</span>
                </div>
            </div> -->
      <div class="footer-bg-area"></div>
    </div>

    <div class="footer">
      <div class="footer-tab flex-grow-1 after-line">
        <a href="main_new_page.html" class="tab-action">
          <img src="../img/icon/icon-x.svg" class="tab-icon" />
          <div class="tab-label">Home</div>
        </a>
      </div>
      <div class="footer-tab flex-grow-1 after-line">
        <a href="./inplay.html" class="tab-action">
          <img src="../img/icon/icon-play.svg" class="tab-icon" />
          <div class="tab-label">In-Play</div>
        </a>
      </div>
      <div class="footer-tab flex-grow-1">
        <a href="./refer&earn.html" class="tab-action">
          <img src="../img/icon/icon-refer.svg" class="tab-icon" />
          <div class="tab-label">Refer &amp; Earn</div>
        </a>
      </div>
      <div class="footer-tab flex-grow-1 before-line">
        <a href="./livecasino.html" class="tab-action">
          <img src="../img/icon//icon-casino.svg" class="tab-icon" />
          <div class="tab-label">Casino</div>
        </a>
      </div>
      <div class="footer-tab flex-grow-1 before-line">
        <a href="menu.html" class="tab-action">
          <img src="../img/icon/icon-menu-bar-active.svg" class="tab-icon" />
          <div class="tab-label" style="margin-bottom: -8px">Menu</div>
        </a>
      </div>
    </div>

    <div class="modal fade" id="payment" tabindex="-1" aria-hidden="true">
      <div
        class="modal-dialog modal-dialog-centered modal-sm justify-content-center"
      >
        <div class="modal-content" style="width: 200px">
          <div class="modal-body d-flex flex-column align-items-center">
            <img src="../img/success.png" class="mb-2 ml-n25" />
            <div class="fw-700 fs-11 text-center text-black mb-3">
              Your Request <br />
              Is In Our Queue!
            </div>
            <span
              class="bg-green2 text-white fs-12 fw-600 rounded-3 py-2 px-3 mb-2"
              >Thank You</span
            >
            <span class="text-dard-grey fs-9 fw-600"
              >For Choosing Sikanderplayx</span
            >
          </div>
        </div>
      </div>
    </div>

    <script>
      const header = document.querySelector(".page-header");
      const toggleClass = "is-sticky";

      window.addEventListener("scroll", () => {
        const currentScroll = window.pageYOffset;
        if (currentScroll > 10) {
          header.classList.add(toggleClass);
        } else {
          header.classList.remove(toggleClass);
        }
      });
    </script>
  </body>
</html>
