<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Sikander PlayX</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/home.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper@8/swiper-bundle.min.css"
    />
   <link rel="stylesheet" href="../css/home.css" />
    <script src="../js/bootstrap.bundle.js"></script>
    <script src="../js/jquery.min.js"></script>

    <style>
      .swiper-wrapper.mr-15 .swiper-slide {
    margin-right: 15px !important;
}


    </style>

    <style>
      @media (min-width: 401px){
        .slider_purple_btn {
          width: 94px;
    padding: 4px;
    /* height: 47px; */
    font-size: 11px;
    font-weight: 400;
}
      }



    </style>
    

    <script src="../js/jquery.min.js"></script>
  </head>
  <body>
    <div class="container container-xs home-bg position-relative ">
      <div
        class="home-header d-flex justify-content-between align-items-center pt-4 z-3"
      >
        <a
          href="deposite.html"
          class="btn btn-sm btn-grnd text-white fs-12 d-flex align-items-center"
        >
          <img src="../img/icon/icon-deposit.png" width="14" />
          <span class="ms-2 pl-5">Deposit</span>
        </a>
        <a href="./home.html">
          <img
          src="../img/home-x-logo.png"
          class="logo_xnew position-relative" 
        />
        </a>
        <a
          href="withdrawal.html"
          class="btn btn-sm btn-grnd text-white fs-12 d-flex align-items-center"
        >
          <img
            src="../img/icon/icon-withdrawal.png"
            width="14"
            style="color: white"
          />
          <span class="ms-2">Withdrawal</span>
        </a>
      </div>
      <div class="home-header-bg-area"></div>
      <div class="container container-xs home-custom-hight position-relative overflow-x">
        <div class="d-flex align-items-end mb-2">
          <div class="me-2">
            <a href="customerSupport.html" class="btn btn-sm btn-grnd">
              <img
                src="../img/icon/icon-phone-call.svg"
                alt="phone call"
                width="15"
              />
            </a>
          </div>
          <div class="d-flex flex-grow-1">
            <div class="col d-flex justify-content-end">
              <a href="./pointpage.html" class="card-tile">
             
                <div class="fw-600 fs-15 text-white mb-0">12,526</div>
                <div class="text-white fs-10">Balance</div>
              </a>
            </div>
            <div class="col d-flex justify-content-center">
              <a href="#" class="card-tile">
               
                <div class="fw-600 fs-15 text-white mb-0">4100</div>
                <div class="text-white fs-10">Bonus</div>
              </a>
            </div>
            <div class="col d-flex justify-content-start">
              <a href="#" class="card-tile">
              
                <div class="fw-600 fs-15 text-white mb-0">95,000</div>
                <div class="text-white fs-10">Exposure</div>
              </a>
            </div>
          </div>
          <div class="d-flex justify-content-end ms-2" data-bs-toggle="modal" data-bs-target="#search_pop_up">
            <a href="#" class="btn btn-sm btn-grnd">
              <img
                src="../img/icon/icon-search.svg"
                alt="phone call"
                width="15"
              />
            </a>
          </div>
        </div>

        <!-- slider banner -->
        <!-- second slider -->

        <!-- second slider -->
        <div class="wrapper h-170">
            <swiper-container class="mySwiper patti"  slides-per-view="auto"   loop="true" >
              

              <swiper-slide>
                <div>
                  <a href="#" class="text-decoration_none">
                <img src="../img/avatar/casinobg/bb1.png"/>
              </a>
            </div>
              </swiper-slide>
              <swiper-slide>
                <div>
                  <a href="./slotgame.html" class="text-decoration_none">
                  <img src="../img/avatar/casinobg/bb1 (1).png"/>
                  </a>
                  </div>
                </swiper-slide>
                <swiper-slide>
                  <div>
                    <a href="./sexycasino.html" class="text-decoration_none">
                    <img src="../img/avatar/casinobg/bb1 (4).png"/>
                  </a>
                  </div>
                </swiper-slide>
                <swiper-slide>
                  <div>
                    <a href="./livecasino.html" class="text-decoration_none">
                      <img src="../img/avatar/home/banner-3 1.png"/>
                  </a>
                  </div>
                </swiper-slide>
                <swiper-slide>
                  <!-- <img src="../img/avatar/casinobg/bb1 (2).png"/> -->
                  <div>
                    <a href="./bollywoodcasino.html" class="text-decoration_none">
                      <img src="../img/avatar/slotgame/sl (1).jpg"/>
                </a>
              </div>
                </swiper-slide>
                <!-- <swiper-slide><img src="../img/avatar/casinobg/bb1 (4).png"/></swiper-slide> -->
                <!-- <swiper-slide><img src="../img/avatar/home/secsl (3).png"/></swiper-slide> -->
                <!-- <swiper-slide><img src="../img/avatar/slotgame/sl (1).jpg"/></swiper-slide> -->
                <swiper-slide><img src="../img/avatar/slotgame/sl (2).jpg"/></swiper-slide>
                <swiper-slide><img src="../img/avatar/slotgame/sl (3).jpg"/></swiper-slide>
              
              </swiper-container>
        </div>


         <!-- second slider -->
         <div class="wrapper">
        
          <!-- Slider main container -->
          <div class="swiper second">
            <div class="container title-heads text-left">
              <h3 class="text-white fs-12 fw-700">Providers</h3>
            </div>

            <swiper-container
            class="mySwiper button-slider"slides-per-view="auto" >
            <swiper-slide>
            
              <a href="./inplay.html" class="text-decoration_none">
                <div class="">
                  <p class="slider_purple_btn">Ezugi</p>
                </div>
              </a>
            </swiper-slide>
            <swiper-slide>
            
              <a href="./inplay.html" class="text-decoration_none">
                <div class="">
                  <p class="slider_purple_btn">Evalution</p>
                </div>
              </a>
            </swiper-slide>
            <swiper-slide>
            
              <a href="./inplay.html" class="text-decoration_none">
                <div class="">
                  <p class="slider_purple_btn">Jilli Gaming</p>
                </div>
              </a>
            </swiper-slide>
  
            <swiper-slide>
            
              <a href="./inplay.html" class="text-decoration_none">
                <div class="">
                  <p class="slider_purple_btn">Royal Gaming</p>
                </div>
              </a>
            </swiper-slide>
            <swiper-slide>
            
              <a href="./inplay.html" class="text-decoration_none">
                <div class="">
                  <p class="slider_purple_btn">Smart Soft Gaming</p>
                </div>
              </a>
            </swiper-slide>
            <swiper-slide>
            
              <a href="./inplay.html" class="text-decoration_none">
                <div class="">
                  <p class="slider_purple_btn">Gamzix</p>
                </div>
              </a>
            </swiper-slide>
  
            <swiper-slide>
            
              <a href="./inplay.html" class="text-decoration_none">
                <div class="">
                  <p class="slider_purple_btn">Aura Gaming</p>
                </div>
              </a>
            </swiper-slide>
  
            <swiper-slide>
            
              <a href="./inplay.html" class="text-decoration_none">
                <div class="">
                  <p class="slider_purple_btn">TV Bet</p>
                </div>
              </a>
            </swiper-slide>
  
           
            
            </swiper-container>
            <!-- Additional required wrapper -->
           
          </div>
        </div>
        <!-- end -->


        <!-- grid-box imaage -->
        <div class="container gridgallery">
          <div class="row">
            <div
              class="col-6 d-flex flex-column"
              style="gap: 21px; padding-right: 5px"
            >
              <img
                src="../img/avatar/indian casino/1 (6).png"
                alt=""
                srcset=""
                class="w-100"
              />
              <img
                src="../img/avatar/indian casino/1 (1).png"
                alt=""
                srcset=""
                class="w-100"
              />
              <img
              src="../img/avatar/indian casino/1 (8).png"
                alt=""
                srcset=""
                class="w-100"
              />
              <img
              src="../img/avatar/indian casino/1 (3).png"
                alt=""
                srcset=""
                class="w-100"
              />
              <img
              src="../img/avatar/indian casino/1 (3).png"
                alt=""
                srcset=""
                class="w-100"
              />
              <img
              src="../img/avatar/indian casino/1 (5).png"
                alt=""
                srcset=""
                class="w-100"
              />
            </div>
            <div
              class="col-6 d-flex flex-column"
              style="gap: 14px; padding-left: 5px"
            >
              <img
                src="../img/avatar/home/gir (1).png"
                alt=""
                srcset=""
                class="w-100"
              />
              <img
                src="../img/avatar/home/gir (6).png"
                alt=""
                srcset=""
                class="w-100"
              />
              <img
                src="../img/avatar/home/gir (3).png"
                alt=""
                srcset=""
                class="w-100"
              />
              <div class="d-flex justify-content-center">
                <img
                src="../img/avatar/casinobg/Asset 1 1.png"
                alt=""
                srcset=""
              />
              </div>
             
              <img
                src="../img/avatar/casinobg/post-13 1.png"
                alt=""
                srcset=""
                class="w-100"
              />
              <img
                src="../img/avatar/casinobg/post-18 2.png"
                alt=""
                srcset=""
                class="w-100"
              />
              <img
              src="../img/avatar/indian casino/1 (2).png"
                alt=""
                srcset=""
                class="w-100"
              />
              <img
              src="../img/avatar/indian casino/1 (7).png"
                alt=""
                srcset=""
                class="w-100"
              />
              <img
              src="../img/avatar/indian casino/1 (4).png"
                alt=""
                srcset=""
                class="w-100"
              />
              <img
              src="../img/avatar/indian casino/1 (10).png"
                alt=""
                srcset=""
                class="w-100"
              />
            </div>

            <div class="col-12" style="margin: 10px 0">
              <img
                src="../img/avatar/sexycasino/post-10 2.png"
                alt=""
                srcset=""
                class="w-100"
              />
            </div>
            <div
              class="col-6 d-flex flex-column"
              style="gap: 15px; padding-right: 5px"
            >
              <img
              src="../img/avatar/sexycasino/post-11 2.png"
                alt=""
                srcset=""
                class="w-100"
              />
              <img
              src="../img/avatar/sexycasino/post-14 2.png"
                alt=""
                srcset=""
                class="w-100"
              />
            </div>
            <div
              class="col-6 d-flex flex-column align-items-center "
              style=" gap: 30px;padding-right: 5px"
            >
              <img
              src="../img/avatar/indian casino/1 (9).png"
                alt=""
                srcset=""
                class="w-100"
              />
              <div class="d-flex justify-content-center align-items-center ">
                <img
                src="../img/avatar/sexycasino/post-17 2.png"
                  alt=""
                  srcset=""
                  width="180px"
                />
              </div>
            </div>
          </div>
        </div>

        <!-- grid-box imaage end -->

        <!-- second slider -->
       
        <!-- slider banner end-->

       <!-- Top Gaming starts -->
       <div class="wrapper h-140">
        <div class="container title-heads text-left">
          <h3 class="text-white fs-12 fw-700">Top Games</h3>
        </div>

        <swiper-container
          class="mySwiper"
          space-between="10"
          slides-per-view="4"
        
        >
         
          <swiper-slide>
            <img src="../img/avatar/livecasino/post-19.jpg" alt="" srcset=""
          /></swiper-slide>
          <swiper-slide>
            <img src="../img/avatar/livecasino/post-20.jpg" alt="" srcset=""
          /></swiper-slide>
          <swiper-slide>
            <img src="../img/avatar/home/Group 402.png" alt="" srcset=""
          /></swiper-slide>
          <swiper-slide>
            <img src="../img/avatar/livecasino/post-22.jpg" alt="" srcset=""
          /></swiper-slide>
          <swiper-slide>
            <img src="../img/avatar/livecasino/post-19.jpg" alt="" srcset=""
          /></swiper-slide>
        </swiper-container>
      </div>
<!-- Trending Gaming starts -->
      <div class="wrapper h-140">
        <div class="container title-heads text-left">
          <h3 class="text-white fs-12 fw-700">Trending Games of india</h3>
        </div>

        <swiper-container
          class="mySwiper"
          space-between="10"
          slides-per-view="4"
          slides-per-view="auto"
         
        >

        <swiper-slide>
          <img src="../img/avatar/home/Group 389 (1).png" alt="" srcset=""
        /></swiper-slide>
     
          <swiper-slide>
            <img src="../img/avatar/livecasino/post-21.jpg" alt="" srcset=""
          /></swiper-slide>

        
          <swiper-slide>
            <img
              src="../img/avatar/home/Group 391 (2) (1).png"
              alt=""
              srcset=""
          /></swiper-slide>
          <swiper-slide>
            <img
              src="../img/avatar/home/Group 391 (1) (1).png"
              alt=""
              srcset=""
          /></swiper-slide>
          <swiper-slide>
            <img src="../img/avatar/home/Group 389 (1).png" alt="" srcset=""
          /></swiper-slide>
          
      </div>

<!-- match slider starts -->

        <!-- <div class="d-flex flex-grow-1">
                    <div class="col mx-2 my-2">
                        <a href="#" class="card-tile">
                            <div class="fw-800 fs-12 text-yellow text-center mb-1">Live <br> casino</div>
                            <div class="fs-600 text-white fs-10 text-center">410 <br> Games</div>
                        </a>
                    </div>
                    <div class="col mx-2 my-2">
                        <a href="#" class="card-tile">
                            <div class="fw-800 fs-12 text-yellow text-center mb-1">Bonuses</div>
                            <div class="fs-600 text-white fs-10 text-center">5% <br> Lossback</div>
                        </a>
                    </div>
                    <div class="col mx-2 my-2">
                        <a href="#" class="card-tile">
                            <div class="fw-800 fs-12 text-yellow text-center mb-1">Slot <br> Games</div>
                            <div class="fs-600 text-white fs-10 text-center">10031 <br> Games</div>
                        </a>
                    </div>
                </div>
                <div class="d-flex flex-grow-1">
                    <div class="col mx-2 my-2">
                        <a href="#" class="card-tile">
                            <div class="fw-800 fs-12 text-yellow text-center mb-1">Instant <br> Games</div>
                            <div class="fs-600 text-white fs-10 text-center">451 <br> Games</div>
                        </a>
                    </div>
                    <div class="col mx-2 my-2">
                        <a href="#" class="card-tile">
                            <div class="fw-800 fs-12 text-yellow text-center mb-1">TV <br> Games</div>
                            <div class="fs-600 text-white fs-10 text-center">32 <br> Game</div>
                        </a>
                    </div>
                    <div class="col mx-2 my-2">
                        <a href="#" class="card-tile">
                            <div class="fw-800 fs-12 text-yellow text-center mb-1">Popular <br> Games</div>
                            <div class="fs-600 text-white fs-10 text-center">230 <br> Games</div>
                        </a>
                    </div>
                </div>
                <div class="d-flex flex-grow-1">
                    <div class="col mx-2 my-2">
                        <a href="#" class="card-tile">
                            <div class="fw-800 fs-12 text-yellow text-center mb-1">Favourite <br> Casino</div>
                            <div class="fs-600 text-white fs-10 text-center">15 <br> Game</div>
                        </a>
                    </div>
                    <div class="col mx-2 my-2">
                        <a href="#" class="card-tile">
                            <div class="fw-800 fs-12 text-yellow text-center mb-1">Live <br> casino</div>
                            <div class="fs-600 text-white fs-10 text-center">410 <br> Games</div>
                        </a>
                    </div>
                    <div class="col mx-2 my-2">
                        <a href="#" class="card-tile">
                            <div class="fw-800 fs-12 text-yellow text-center mb-1">Slot <br> Games</div>
                            <div class="fs-600 text-white fs-10 text-center">10031 <br> Games</div>
                        </a>
                    </div>
                </div> -->

        <!-- card-box bg -->

        <div
          class="card casino my-5 mb-5"
          style="margin-bottom: 1rem !important"
        >
          <div class="title-bar">
            <div class="title-bar__label text-yellow">Live Casino</div>
            <div>
              <div class="title-bar__label">All ></div>
            </div>
          </div>

          <div class="row gx-2 gy-1 justify-content-center">
            <div class="col-6 mb-5px">
              <div class="casino-card br-10">
                <div class="casino top-img">
                  <!-- <img src="../img/avatar/casinobg/car(4).jpeg" alt="" 
                                   class="w-100 h-100 brl-10" > -->
                </div>
                <div class="casino bottom-content p-10">
                  <div
                    class="content d-flex justify-content-between align-items-center w-100"
                  >
                    <div class="d-flex flex-column">
                      <h6 class="fs-7 fw-400 text-white mb-05px">Evalution</h6>

                      <h4 class="fs-11 fw-600 text-yellow m-0">
                        Hindi Roulette
                      </h4>
                    </div>

                    <div class="d-flex justify-content-end align-items-end">
                      <img
                        src="../img/avatar/casinobg/play 3.png"
                        alt=""
                        srcset=""
                        width="45"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-6 mb-5px">
              <div class="casino-card br-10">
                <div class="casino top-img">
                  <!-- <img src="../img/avatar/casinobg/car(3).jpeg" alt="" 
                                   class="w-100 h-100 brl-10" > -->
                </div>
                <div class="casino bottom-content p-10">
                  <div
                    class="content d-flex justify-content-between align-items-center w-100"
                  >
                    <div class="d-flex flex-column">
                      <h6 class="fs-7 fw-400 text-white mb-05px">Evalution</h6>

                      <h4 class="fs-11 fw-600 text-yellow m-0">
                        Light Rouette
                      </h4>
                    </div>

                    <div>
                      <img
                        src="../img/avatar/casinobg/play 3.png"
                        alt=""
                        srcset=""
                        width="45"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-6 mb-5px">
              <div class="casino-card br-10">
                <div class="casino top-img">
                  <!-- <img src="../img/avatar/casinobg/car (2).jpeg" alt="" 
                      class="w-100 h-100 brl-10" > -->
                </div>
                <div class="casino bottom-content p-10">
                  <div
                    class="content d-flex justify-content-between align-items-center w-100"
                  >
                    <div class="d-flex flex-column">
                      <h6 class="fs-7 fw-400 text-white mb-05px">Evalution</h6>

                      <h4 class="fs-11 fw-600 text-yellow m-0">Andhar Bhar</h4>
                    </div>

                    <div>
                      <img
                        src="../img/avatar/casinobg/play 3.png"
                        alt=""
                        srcset=""
                        width="45"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-6 mb-5px">
              <div class="casino-card br-10">
                <div class="casino top-img">
                  <!-- <img src="../img/avatar/casinobg/car (1).jpeg" alt="" 
                      class="w-100 h-100 brl-10" > -->
                </div>
                <div class="casino bottom-content p-10">
                  <div
                    class="content d-flex justify-content-between align-items-center w-100"
                  >
                    <div class="d-flex flex-column">
                      <h6 class="fs-7 fw-400 text-white mb-05px">Evalution</h6>

                      <h4 class="fs-11 fw-600 text-yellow m-0">Live Rouette</h4>
                    </div>

                    <div>
                      <img
                        src="../img/avatar/casinobg/play 3.png"
                        alt=""
                        srcset=""
                        width="45"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- card-box -bg end -->

        <!-- card-box bg -->

        <div class="card casino my-5 mb-5">
          <div class="title-bar">
            <div class="title-bar__label text-yellow">Live Casino</div>
            <div>
              <div class="title-bar__label">All ></div>
            </div>
          </div>

          <div class="row gx-2 gy-1 justify-content-center">
            <div class="col-6 mb-5px">
              <div class="casino-card br-10">
                <div class="casino top-img">
                  <!-- <img src="../img/avatar/casinobg/car(4).jpeg" alt="" 
                                   class="w-100 h-100 brl-10" > -->
                </div>
                <div class="casino bottom-content p-10">
                  <div
                    class="content d-flex justify-content-between align-items-center w-100"
                  >
                    <div class="d-flex flex-column">
                      <h6 class="fs-7 fw-400 text-white mb-05px">Evalution</h6>

                      <h4 class="fs-11 fw-600 text-yellow m-0">
                        Hindi Roulette
                      </h4>
                    </div>

                    <div class="d-flex justify-content-end align-items-end">
                      <img
                        src="../img/avatar/casinobg/play 3.png"
                        alt=""
                        srcset=""
                        width="45"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-6 mb-5px">
              <div class="casino-card br-10">
                <div class="casino top-img">
                  <!-- <img src="../img/avatar/casinobg/car(3).jpeg" alt="" 
                                   class="w-100 h-100 brl-10" > -->
                </div>
                <div class="casino bottom-content p-10">
                  <div
                    class="content d-flex justify-content-between align-items-center w-100"
                  >
                    <div class="d-flex flex-column">
                      <h6 class="fs-7 fw-400 text-white mb-05px">Evalution</h6>

                      <h4 class="fs-11 fw-600 text-yellow m-0">
                        Light Rouette
                      </h4>
                    </div>

                    <div>
                      <img
                        src="../img/avatar/casinobg/play 3.png"
                        alt=""
                        srcset=""
                        width="45"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-6 mb-5px">
              <div class="casino-card br-10">
                <div class="casino top-img">
                  <!-- <img src="../img/avatar/casinobg/car (2).jpeg" alt="" 
                      class="w-100 h-100 brl-10" > -->
                </div>
                <div class="casino bottom-content p-10">
                  <div
                    class="content d-flex justify-content-between align-items-center w-100"
                  >
                    <div class="d-flex flex-column">
                      <h6 class="fs-7 fw-400 text-white mb-05px">Evalution</h6>

                      <h4 class="fs-11 fw-600 text-yellow m-0">Andhar Bhar</h4>
                    </div>

                    <div>
                      <img
                        src="../img/avatar/casinobg/play 3.png"
                        alt=""
                        srcset=""
                        width="45"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-6 mb-5px">
              <div class="casino-card br-10">
                <div class="casino top-img">
                  <!-- <img src="../img/avatar/casinobg/car (1).jpeg" alt="" 
                      class="w-100 h-100 brl-10" > -->
                </div>
                <div class="casino bottom-content p-10">
                  <div
                    class="content d-flex justify-content-between align-items-center w-100"
                  >
                    <div class="d-flex flex-column">
                      <h6 class="fs-7 fw-400 text-white mb-05px">Evalution</h6>

                      <h4 class="fs-11 fw-600 text-yellow m-0">Live Rouette</h4>
                    </div>

                    <div>
                      <img
                        src="../img/avatar/casinobg/play 3.png"
                        alt=""
                        srcset=""
                        width="45"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- card-box -bg end -->

        <!-- second slider -->
        <!-- second slider -->
        <div class="wrapper h-170">
          <div class="container title-heads text-left">
            <h3 class="text-white fs-12 fw-700">Latest Gaming 2024</h3>
          </div>
         
          <swiper-container class="mySwiper patti"  slides-per-view="auto"   loop="true" >
          <swiper-slide><img src="../img/avatar/home/secsl (3).png"/></swiper-slide>
          <swiper-slide><img src="../img/avatar/casinobg/bb1 (1).png"/></swiper-slide>
          <swiper-slide><img src="../img/avatar/casinobg/bb1 (4).png"/></swiper-slide>
          <swiper-slide><img src="../img/avatar/casinobg/bb1 (2).png"/></swiper-slide>
          <swiper-slide><img src="../img/avatar/casinobg/bb1 (3).png"/></swiper-slide>
        </swiper-container>

        </div>

        <!-- end -->

        <!-- end -->

        <!-- social-links -->

        <div class="col-12 container">
          <div class="fs-14 fw-600 mb-2 text-yellow">
            Available Payment Method
          </div>
          <div
            class="d-flex flex-wrap justify-content-left w-100 px-1 mb-2 br-none"
          >
            <button class="btn btn-sm btn-grey fw-600 fs-10 me-1 mb-2 px-1">
              <img src="../img/icon/icon-gpay.png" width="16" />
              <span>Google pay</span>
            </button>
            <button class="btn btn-sm btn-grey fw-600 fs-10 me-1 mb-2 px-1">
              <img src="../img/icon/icon-paytm.png" width="16" />
              <span>Paytm</span>
            </button>
            <button class="btn btn-sm btn-grey fw-600 fs-10 me-1 mb-2 px-1">
              <img src="../img/icon/icon-phonepay.png" width="16" />
              <span>Phone Pay</span>
            </button>
            <button class="btn btn-sm btn-grey fw-600 fs-10 me-1 mb-2 px-1">
              <img src="../img/icon/icon-bitcoin.png" width="16" />
              <span>Bitcoin</span>
            </button>
            <!-- <button class="btn btn-sm btn-grey fw-600 fs-10 me-1 mb-2 px-1">
              <img src="../img/icon/icon-whatsapp.png" width="16" />
              <span>Whats app</span>
            </button> -->
            <button class="btn btn-sm btn-grey fw-600 fs-10 me-1 mb-2 px-1">
              <img src="../img/icon/icon-sikander.png" width="20" />
              <span>Sikander Exchange</span>
            </button>
            <button class="btn btn-sm btn-grey fw-600 fs-10 me-1 mb-2 px-1">
              <span class="bg-white"
                ><img src="../img/icon/icon-upi.png" width="16"
              /></span>
              <span>UPI</span>
            </button>
          </div>
        </div>

        <div class="col-12 container">
          <div class="fs-14 fw-600 mb-2 text-yellow">Social Network</div>
          <div
            class="d-flex flex-wrap justify-content-left w-100 px-1 mb-2 br-none"
          >
            <img
              src="../img/avatar/home/bot (2).png"
              alt=""
              srcset=""
              width="40%"
            />
          </div>
        </div>

        <div class="col-12 container">
          <div class="fs-10 fw-500 mb-2 text-yellow">License</div>
          <div
            class="d-flex flex-wrap justify-content-left w-100 px-1 mb-2 br-none g-10"
          >
            <img
              src="../img/avatar/home/bot (1).png"
              alt=""
              srcset=""
              width="10%"
            />
            <img
              src="../img/avatar/home/bot (3).png"
              alt=""
              srcset=""
              width="30%"
            />
          </div>
        </div>

        <div class="footer-bg-area"></div>
      </div>

      <div class="footer">
        <div class="footer-tab flex-grow-1 after-line">
          <a href="home.html" class="tab-action">
            <img src="../img/icon/icon-x.svg" class="tab-icon" />
            <div class="tab-label">Home</div>
          </a>
        </div>
        <div class="footer-tab flex-grow-1 after-line">
          <a href="./inplay.html" class="tab-action">
            <img src="../img/icon/icon-play.svg" class="tab-icon" />
            <div class="tab-label">In-Play</div>
          </a>
        </div>
        <div class="footer-tab flex-grow-1">
          <a href="./refer&earn.html" class="tab-action">
            <img src="../img/icon/icon-refer.svg" class="tab-icon" />
            <div class="tab-label">Refer &amp; Earn</div>
          </a>
        </div>
        <div class="footer-tab flex-grow-1 before-line">
          <a href="./livecasino.html" class="tab-action">
            <img src="../img/icon/cassinoactive.png" class="tab-icon" style="width: 22px;height: 17px;"/>
            <div class="tab-label">Casino</div>
          </a>
        </div>
        <div class="footer-tab flex-grow-1 before-line">
          <a href="menu.html" class="tab-action">
            <img src="../img/icon/icon-menu-bar.svg" class="tab-icon" />
            <div class="tab-label" style="margin-bottom: -8px">Menu</div>
          </a>
        </div>
      </div>
    </div>
        <!-- Modal -->
        <div class="modal fade Search_box_container" id="search_pop_up" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content" style="background: none  !important;border: none;">
               
                <div class="modal-body px-0">
                    <div class="input-group mb-3 mt-5 pt-5">
                        <input type="text" class="form-control bg-purple text-white Search_textbox" placeholder="Search Games" aria-label="Recipient's username" aria-describedby="basic-addon2" aria-placeholder="Search Games">
                        <span class="input-group-text bg-yellow" id="basic-addon2"><img
                          src="../img/icon/Group 332.png"
                          alt="phone call"
                          width="15"
                        /></span>
                        
                      </div>
                </div>
                
              </div>
            </div>
          </div>
          
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>

    <script>
      var TrandingSlider = new Swiper(".tranding-slider", {
        effect: "coverflow",
        grabCursor: true,
        centeredSlides: true,
        loop: true,
        slidesPerView: "auto",
        coverflowEffect: {
          rotate: 0,
          stretch: 0,
          depth: 100,
          modifier: 2.5,
        },
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
      });
    </script>

    <script>
      const swiper = new Swiper(".swiper.second", {
        // Optional parameters
        loop: true,
        centeredSlides: true,
        // Navigation arrows
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
        breakpoints: {
          // when window width is >= 320px
          320: {
            slidesPerView: 4,
            spaceBetween: 30,
          },
          // when window width is >= 320px
          768: {
            slidesPerView: 3,
            spaceBetween: 30,
          },
          // when window width is >= 480px
          1024: {
            slidesPerView: 4,
            spaceBetween: 40,
          },
          // when window width is >= 640px
          1280: {
            slidesPerView: 5,
            spaceBetween: 50,
          },
        },
      });
    </script>
  </body>
</html>
