<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Sikander PlayX</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/new_style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/home.css" />
    <script src="../js/bootstrap.bundle.js"></script>
    <script src="../js/jquery.min.js"></script>
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <script src="../js/sample.js"></script>
    <style>
      .small_slider_height swiper-slide {
        width: 107px !important;
        height: 160px;
      }
      .yellow_border_none swiper-slide img {
        border: none;
      }
      .home-custom-hight {
        height: auto;
        overflow: auto;
      }
      .slider-main.ban-livecasino swiper-slide img {
        border-radius: 10px;
      }
      .slider-main.home-banner.ban-livecasino swiper-container {
        margin: 5px -7px 2px 0 !important;
      }
    </style>
  </head>
  <body>
    <div class="container container-xs home-bg position-relative">
      <div
      class="home-header d-flex justify-content-between align-items-center pt-4 z-3 page-header"
    >
      <a
        href="deposite.html"
        class="btn btn-sm btn-grnd text-white fs-12 d-flex align-items-center justify-content-center"
      >
        <img src="../img/icon/icon-deposit.png" width="14" />
        <span class="ms-2 pl-5">Deposit</span>
      </a>
      <a href="./home.html">
        <img
        src="../img/home-x-logo.png"
        class="logo_xnew position-relative" 
      />
      </a>
     
      <a
        href="withdrawal.html"
        class="btn btn-sm btn-grnd text-white fs-12 d-flex align-items-center justify-content-center"
      >
        <img
          src="../img/icon/icon-withdrawal.png"
          width="14"
          style="color: white"
        />
        <span class="ms-2">withdrawal</span>
      </a>
    </div>
    <div class="home-header-bg-area"></div>
      <div
        class="container container-xs home-custom-hight position-relative overflow-x"
      >
        <div class="d-flex align-items-end mb-2">
          <div class="me-2">
            <a href="customerSupport.html" class="btn btn-sm btn-grnd">
              <img
                src="../img/icon/icon-phone-call.svg"
                alt="phone call"
                width="15"
              />
            </a>
          </div>
          <div class="d-flex flex-grow-1">
            <div class="col d-flex justify-content-end">
              <a href="./pointpage2.html" class="card-tile">
                <div class="mb-2">
                  <img src="../img/icon/icon-money.svg" width="21" />
                </div>
                <div class="fw-700 fs-12 text-white mb-1 fs-12">12,526</div>
                <div class="text-white-75 fs-10">Balance</div>
              </a>
            </div>
            <div class="col d-flex justify-content-center">
              <a href="./pointpage3.html" class="card-tile">
                <div class="mb-2">
                  <img src="../img/icon/icon-star.svg" width="25" />
                  <!--  -->
                </div>
                <div class="fw-700 fs-12 text-white mb-1 fs-12">146</div>
                <div class="text-white-75 fs-10">Bonus</div>
              </a>
            </div>
            <div class="col d-flex justify-content-start">
              <a href="./mybetsports.html" class="card-tile">
                <div class="mb-2">
                  <img src="../img/icon/icon-achivements.svg" width="22" />
                </div>
                <div class="fw-700 fs-12 text-white mb-1 fs-12">95,000</div>
                <div class="text-white-75 fs-10">Exposure</div>
              </a>
            </div>
          </div>
          <div
            class="d-flex justify-content-end ms-2"
            data-bs-toggle="modal"
            data-bs-target="#search_pop_up"
          >
            <a href="#" class="btn btn-sm btn-grnd">
              <img
                src="../img/icon/icon-search.svg"
                alt="phone call"
                width="15"
              />
            </a>
          </div>
        </div>
        <div class="slider-main home-banner ban-livecasino">
          <swiper-container
            class="mySwiper"
            slides-per-view="auto"
            slides-per-view="auto"
            rewind="true"
            loop="true"
            centered-slides="true"
          >
            <swiper-slide class="swiper-slide-prev"
              ><img src="../img/live_casino/10.png" alt="live_casino" srcset=""
            /></swiper-slide>

            <swiper-slide
              ><img src="../img/live_casino/1.png" alt="live_casino" srcset=""
            /></swiper-slide>
            <swiper-slide
              ><img src="../img/live_casino/2.png" alt="live_casino" srcset=""
            /></swiper-slide>
            <swiper-slide
              ><img src="../img/live_casino/3.png" alt="live_casino" srcset=""
            /></swiper-slide>
            <swiper-slide
              ><img
                src="../img/live_casino/4.png"
                alt="live_casino"
                srcset=""
              />
            </swiper-slide>
            <swiper-slide
              ><img src="../img/live_casino/5.png" alt="live_casino" srcset=""
            /></swiper-slide>
            <swiper-slide
              ><img src="../img/live_casino/6.png" alt="live_casino" srcset=""
            /></swiper-slide>
            <swiper-slide
              ><img src="../img/live_casino/7.png" alt="live_casino" srcset=""
            /></swiper-slide>
            <swiper-slide
              ><img src="../img/live_casino/8.png" alt="live_casino" srcset=""
            /></swiper-slide>
            <swiper-slide
              ><img src="../img/live_casino/9.png" alt="live_casino" srcset=""
            /></swiper-slide>
          </swiper-container>
        </div>
        <!-- slider banner -->

        <!-- grid-box imaage -->
        <div class="container gridgallery">
          <div class="row">
            <div
              class="col-6 d-flex flex-column"
              style="gap: 21px; padding-right: 5px"
            >
              <img
                src="../img/live_casino/7_ 3.png"
                alt=""
                srcset=""
                class="w-100"
              />
              <img
                src="../img/live_casino/9_ 1.png"
                alt=""
                srcset=""
                class="w-100"
              />
              <img
                src="../img/live_casino/8_ 1.png"
                alt=""
                srcset=""
                class="w-100"
              />
              <!-- <img
                src="../img/avatar/casinobg/post-6 1.png"
                alt=""
                srcset=""
                class="w-100"
              />
              <img
                src="../img/avatar/casinobg/post-8 1.png"
                alt=""
                srcset=""
                class="w-100"
              />
              <img
                src="../img/avatar/casinobg/post-15 1.png"
                alt=""
                srcset=""
                class="w-100"
              /> -->
            </div>
            <!-- top image section -->
            <div
              class="col-6 d-flex flex-column"
              style="gap: 10px; padding-left: 5px"
            >
              <img
                src="../img/live_casino/1_1 1.png"
                alt=""
                srcset=""
                class="w-100"
              />
              <img
                src="../img/live_casino/12_ 1.png"
                alt=""
                srcset=""
                class="w-100"
              />
              <img
                src="../img/live_casino/post-18 2.png"
                alt=""
                srcset=""
                class="w-100"
              />
              <img
                src="../img/live_casino/12_2.png"
                alt=""
                srcset=""
                class="w-100"
              />
              <!-- <div class="d-flex justify-content-center">
                <img
                  src="../img/live_casino/11_ 2.png"
                  alt=""
                  srcset=""
                />
              </div> -->

              <img
                src="../img/live_casino/11_ 2.png"
                alt=""
                srcset=""
                class="w-100"
              />
              <img
                src="../img/live_casino/13_ 1.png"
                alt=""
                srcset=""
                class="w-100"
              />
              <img
                src="../img/live_casino/14_ 1.png"
                alt=""
                srcset=""
                class="w-100"
              />
              <img
                src="../img/live_casino/6_ 7.png"
                alt=""
                srcset=""
                class="w-100"
              />
              <!-- <img
                src="../img/avatar/casinobg/post-5 1.png"
                alt=""
                srcset=""
                class="w-100"
              /> -->
              <!-- <img
                src="../img/avatar/casinobg/post-7 1.png"
                alt=""
                srcset=""
                class="w-100"
              /> -->
              <!-- <img
                src="../img/avatar/casinobg/post-9 1.png"
                alt=""
                srcset=""
                class="w-100"
              /> -->
            </div>

            <div class="col-12" style="margin: 10px 0">
              <img
                src="../img/live_casino/1_ 4.png"
                alt=""
                srcset=""
                class="w-100"
              />
            </div>
            <div
              class="col-6 d-flex flex-column"
              style="gap: 15px; padding-right: 5px"
            >
              <img
                src="../img/live_casino/3_ 4.png"
                alt=""
                srcset=""
                class="w-100"
              />
              <img
                src="../img/live_casino/4_ 1.png"
                alt=""
                srcset=""
                class="w-100"
              />
            </div>
            <div
              class="col-6 d-flex flex-column align-items-center"
              style="gap: 30px; padding-right: 5px"
            >
              <img
                src="../img/live_casino/2_ 2.png"
                alt=""
                srcset=""
                class="w-100"
              />
              <div class="d-flex justify-content-center align-items-center">
                <img
                  src="../img/live_casino/5_ 7.png"
                  alt=""
                  srcset=""
                  class="w-100"
                />
              </div>
            </div>
          </div>
        </div>
        <!-- grid-box imaage end -->

        <!-- Virtual Gaming starts -->
        <div class="wrapper h-140 small_slider_height">
          <div class="container title-heads text-left">
            <h3 class="text-white fs-12 fw-700">Virtual Gaming</h3>
          </div>

          <swiper-container
            class="mySwiper"
            slides-per-view="auto"
            slides-per-view="auto"
            rewind="true"
            loop="true"
          >
            <swiper-slide>
              <img src="../img/live_casino/s_1.png" alt="" srcset=""
            /></swiper-slide>
            <swiper-slide>
              <img src="../img/live_casino/s_2.png" alt="" srcset=""
            /></swiper-slide>
            <swiper-slide>
              <img src="../img/live_casino/s_3.png" alt="" srcset=""
            /></swiper-slide>
            <swiper-slide>
              <img src="../img/live_casino/s_4.png" alt="" srcset=""
            /></swiper-slide>
            <swiper-slide>
              <img src="../img/live_casino/s_5.png" alt="" srcset=""
            /></swiper-slide>
            <swiper-slide>
              <img src="../img/live_casino/s_6.png" alt="" srcset=""
            /></swiper-slide>
            <swiper-slide>
              <img src="../img/live_casino/s_7.png" alt="" srcset=""
            /></swiper-slide>
            <swiper-slide>
              <img src="../img/live_casino/s_8.png" alt="" srcset=""
            /></swiper-slide>
            <swiper-slide>
              <img src="../img/live_casino/s_9.png" alt="" srcset=""
            /></swiper-slide>
            <swiper-slide>
              <img src="../img/live_casino/s_10.png" alt="" srcset=""
            /></swiper-slide>
            <swiper-slide>
              <img src="../img/live_casino/s_11.png" alt="" srcset=""
            /></swiper-slide>
            <swiper-slide>
              <img src="../img/live_casino/s_12.png" alt="" srcset=""
            /></swiper-slide>
            <swiper-slide>
              <img src="../img/live_casino/s_13.png" alt="" srcset=""
            /></swiper-slide>
            <swiper-slide>
              <img src="../img/live_casino/s_14.png" alt="" srcset=""
            /></swiper-slide>
            <swiper-slide>
              <img src="../img/live_casino/s_15.png" alt="" srcset=""
            /></swiper-slide>
            <swiper-slide>
              <img src="../img/live_casino/s_16.png" alt="" srcset=""
            /></swiper-slide>
            <swiper-slide>
              <img src="../img/live_casino/s_17.png" alt="" srcset=""
            /></swiper-slide>
            <swiper-slide>
              <img src="../img/live_casino/s_18.png" alt="" srcset=""
            /></swiper-slide>
            <swiper-slide>
              <img src="../img/live_casino/s_19.png" alt="" srcset=""
            /></swiper-slide>
            <swiper-slide>
              <img src="../img/live_casino/s_20.png" alt="" srcset=""
            /></swiper-slide>
            <swiper-slide>
              <img src="../img/live_casino/s_21.png" alt="" srcset=""
            /></swiper-slide>
            <swiper-slide>
              <img src="../img/live_casino/s_22.png" alt="" srcset=""
            /></swiper-slide>
            <swiper-slide>
              <img src="../img/live_casino/s_23.png" alt="" srcset=""
            /></swiper-slide>
          </swiper-container>
        </div>
        <!-- Virtual Gaming Ends -->

        <!-- Lastest Gaming slider starts -->
        <div class="wrapper h-170 mt-2">
          <div class="container title-heads text-left">
            <h3 class="text-white fs-12 fw-700">Latest Gaming 2024</h3>
          </div>

          <swiper-container
            class="mySwiper patti yellow_border_none"
            slides-per-view="auto"
            loop="true"
          >
            <swiper-slide
              ><img src="../img/avatar/home/secsl (1).png"
            /></swiper-slide>
            <swiper-slide
              ><img src="../img/avatar/home/secsl (4).png"
            /></swiper-slide>
            <swiper-slide
              ><img src="../img/avatar/home/secsl (5).png"
            /></swiper-slide>
            <swiper-slide
              ><img src="../img/avatar/home/secsl (3).png "
            /></swiper-slide>
            <swiper-slide
              ><img src="../img/avatar/home/secsl (2).png"
            /></swiper-slide>
          </swiper-container>
        </div>
        <!-- Lastest Gaming slider Ends -->

        <!-- social-links -->
        <div class="col-12 container">
          <div class="fs-14 fw-600 mb-2 text-yellow">
            Available Payment Method
          </div>
          <div
            class="d-flex flex-wrap justify-content-left w-100 px-1 mb-2 br-none"
          >
            <button class="btn btn-sm btn-grey fw-600 fs-10 me-1 mb-2 px-1">
              <img src="../img/icon/icon-gpay.png" width="16" />
              <span>Google pay</span>
            </button>
            <button class="btn btn-sm btn-grey fw-600 fs-10 me-1 mb-2 px-1">
              <img src="../img/icon/icon-paytm.png" width="16" />
              <span>Paytm</span>
            </button>
            <button class="btn btn-sm btn-grey fw-600 fs-10 me-1 mb-2 px-1">
              <img src="../img/icon/icon-phonepay.png" width="16" />
              <span>Phone Pay</span>
            </button>
            <button class="btn btn-sm btn-grey fw-600 fs-10 me-1 mb-2 px-1">
              <img src="../img/icon/icon-bitcoin.png" width="16" />
              <span>Bit Coim</span>
            </button>
            <button class="btn btn-sm btn-grey fw-600 fs-10 me-1 mb-2 px-1">
              <img src="../img/icon/icon-whatsapp.png" width="16" />
              <span>Whats app</span>
            </button>
            <button class="btn btn-sm btn-grey fw-600 fs-10 me-1 mb-2 px-1">
              <img src="../img/icon/icon-sikander.png" width="20" />
              <span>Sikander Exchange</span>
            </button>
            <button class="btn btn-sm btn-grey fw-600 fs-10 me-1 mb-2 px-1">
              <span class="bg-white"
                ><img src="../img/icon/icon-upi.png" width="16"
              /></span>
              <span>UPI</span>
            </button>
          </div>
        </div>

        <div class="col-12 container">
          <div class="fs-14 fw-600 mb-2 text-yellow">Social Network</div>
          <div
            class="d-flex flex-wrap justify-content-left w-100 px-1 mb-2 br-none"
          >
            <img
              src="../img/avatar/home/bot (2).png"
              alt=""
              srcset=""
              width="40%"
            />
          </div>
        </div>

        <div class="col-12 container">
          <div class="fs-10 fw-500 mb-2 text-yellow">License</div>
          <div
            class="d-flex flex-wrap justify-content-left w-100 px-1 mb-2 br-none g-10"
          >
            <img
              src="../img/avatar/home/bot (1).png"
              alt=""
              srcset=""
              width="10%"
            />
            <img
              src="../img/live_casino/Group 356.png"
              alt=""
              srcset=""
              width="30%"
            />
          </div>
        </div>

        <div class="footer-bg-area"></div>
      </div>

      <div class="footer">
        <div class="footer-tab flex-grow-1 after-line">
          <a href="home.html" class="tab-action">
            <img src="../img/icon/icon-x.svg" class="tab-icon" />
            <div class="tab-label">Home</div>
          </a>
        </div>
        <div class="footer-tab flex-grow-1 after-line">
          <a href="./inplay.html" class="tab-action">
            <img src="../img/icon/icon-play.svg" class="tab-icon" />
            <div class="tab-label">In-Play</div>
          </a>
        </div>
        <div class="footer-tab flex-grow-1">
          <a href="./refer&earn.html" class="tab-action">
            <img src="../img/icon/icon-refer.svg" class="tab-icon" />
            <div class="tab-label">Refer &amp; Earn</div>
          </a>
        </div>
        <div class="footer-tab flex-grow-1 before-line">
          <a href="./livecasino.html" class="tab-action">
            <img
              src="../img/icon/cassinoactive.png"
              class="tab-icon"
              style="width: 22px; height: 17px"
            />
            <div class="tab-label">Casino</div>
          </a>
        </div>
        <div class="footer-tab flex-grow-1 before-line">
          <a href="menu.html" class="tab-action">
            <img src="../img/icon/icon-menu-bar.svg" class="tab-icon" />
            <div class="tab-label" style="margin-bottom: -8px">Menu</div>
          </a>
        </div>
      </div>
    </div>
    <!-- Modal -->
    <div
      class="modal fade Search_box_container"
      id="search_pop_up"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div
          class="modal-content"
          style="background: none !important; border: none"
        >
          <div class="modal-body px-0">
            <div class="input-group mb-3 mt-5 pt-5">
              <input
                type="text"
                class="form-control bg-purple text-white Search_textbox"
                placeholder="Search Games"
                aria-label="Recipient's username"
                aria-describedby="basic-addon2"
                aria-placeholder="Search Games"
              />
              <span class="input-group-text bg-yellow" id="basic-addon2"
                ><img
                  src="../img/icon/Group 332.png"
                  alt="phone call"
                  width="15"
              /></span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div
      class="modal fade Search_box_container"
      id="search_pop_up"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div
          class="modal-content"
          style="background: none !important; border: none"
        >
          <div class="modal-body px-0">
            <div class="input-group mb-3 mt-5 pt-5">
              <input
                type="text"
                class="form-control bg-purple text-white Search_textbox"
                placeholder="Search Games"
                aria-label="Recipient's username"
                aria-describedby="basic-addon2"
                aria-placeholder="Search Games"
              />
              <span class="input-group-text bg-yellow" id="basic-addon2"
                ><img
                  src="../img/icon/Group 332.png"
                  alt="phone call"
                  width="15"
              /></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>

    <script>
      var TrandingSlider = new Swiper(".tranding-slider", {
        effect: "coverflow",
        grabCursor: true,
        centeredSlides: true,
        loop: true,
        slidesPerView: "auto",
        coverflowEffect: {
          rotate: 0,
          stretch: 0,
          depth: 100,
          modifier: 2.5,
        },
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
      });
    </script>

    <script>
      const swiper = new Swiper(".swiper.second", {
        // Optional parameters
        loop: true,
        centeredSlides: true,
        // Navigation arrows
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
        breakpoints: {
          // when window width is >= 320px
          320: {
            slidesPerView: 4,
            spaceBetween: 30,
          },
          // when window width is >= 320px
          768: {
            slidesPerView: 3,
            spaceBetween: 30,
          },
          // when window width is >= 480px
          1024: {
            slidesPerView: 4,
            spaceBetween: 40,
          },
          // when window width is >= 640px
          1280: {
            slidesPerView: 5,
            spaceBetween: 50,
          },
        },
      });
    </script>

    

    <script>
      // First, get a reference to your Swiper instance
      var mySwiper = document.querySelector(".mySwiper").swiper;

      // Then, use the slideTo method to activate the second slide (index 1)
      mySwiper.slideTo(1); // Index starts from 0, so 1 represents the second slide
    </script>

<script>
  
  const header = document.querySelector(".page-header");
const toggleClass = "is-sticky";

window.addEventListener("scroll", () => {
  const currentScroll = window.pageYOffset;
  if (currentScroll > 150) {
    header.classList.add(toggleClass);
  } else {
    header.classList.remove(toggleClass);
  }
});

</script>

  </body>
</html>
