
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Sikander PlayX</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/home.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap"
      rel="stylesheet"
    />
   <link rel="stylesheet" href="../css/new_style.css" />
    <script src="../js/bootstrap.bundle.js"></script>
    <script src="../js/jquery.min.js"></script>
    <style>
      .swiper-wrapper.mr-15 .swiper-slide {
    margin-right: 15px !important;
}
    </style>
    <style>
      @media (min-width: 401px){
    .slider_purple_btn {
    width: 94px;
    padding: 4px;
    font-size: 11px;
    font-weight: 400;
    }}

  
     

     


    </style>
    

    <script src="../js/jquery.min.js"></script>
  </head>
  <body>
    <div class="container container-xs home-bg position-relative ">
      <div
        class="home-header d-flex justify-content-between align-items-center pt-4 z-3"
      >
        <a
          href="deposite.html"
          class="btn btn-sm btn-grnd text-white fs-12 d-flex align-items-center"
        >
          <img src="../img/icon/icon-deposit.png" width="14" />
          <span class="ms-2 pl-5">Deposit</span>
        </a>
        <a href="./home.html">
          <img
          src="../img/home-x-logo.png"
          class="logo_xnew position-relative" 
        />
        </a>
        <a
          href="withdrawal.html"
          class="btn btn-sm btn-grnd text-white fs-12 d-flex align-items-center"
        >
          <img
            src="../img/icon/icon-withdrawal.png"
            width="14"
            style="color: white"
          />
          <span class="ms-2">Withdrawal</span>
        </a>
      </div>
      <div class="home-header-bg-area"></div>
      <div class="container container-xs home-custom-hight position-relative overflow-x">
        <div class="d-flex align-items-end">
          <div class="me-2">
            <a href="customerSupport.html" class="btn btn-sm btn-grnd">
              <img
                src="../img/icon/icon-phone-call.svg"
                alt="phone call"
                width="15"
              />
            </a>
          </div>
          <div class="d-flex flex-grow-1">
            <div class="col d-flex justify-content-end">
              <a href="./pointpage2.html" class="card-tile">
                <div class="mb-2">
                  <img src="../img/icon/icon-money.svg" width="21" />
                </div>
                <div class="fw-700 fs-12 text-white mb-1 fs-12">12,526</div>
                <div class="text-white-75 fs-10">Balance</div>
              </a>
            </div>
            <div class="col d-flex justify-content-center">
              <a href="./pointpage3.html" class="card-tile">
                <div class="mb-2">
                  <img src="../img/icon/icon-star.svg" width="25" />
                  <!--  -->
                </div>
                <div class="fw-700 fs-12 text-white mb-1 fs-12">4100</div>
                <div class="text-white-75 fs-10">Bonus</div>
              </a>
            </div>
            <div class="col d-flex justify-content-start">
              <a href="./mybetsports.html" class="card-tile">
                <div class="mb-2">
                  <img src="../img/icon/icon-achivements.svg" width="22" />
                </div>
                <div class="fw-700 fs-12 text-white mb-1 fs-12" >95,000</div>
                <div class="text-white-75 fs-10">Exposure</div>
              </a>
            </div>
          </div>
          <div class="d-flex justify-content-end ms-2 "  data-bs-toggle="modal" data-bs-target="#exampleModal">
            <a href="#" class="btn btn-sm btn-grnd">
              <img
                src="../img/icon/icon-search.svg"
                alt="phone call"
                width="15"
              />
            </a>
          </div>
        </div>

        <!-- slider banner -->
        <!-- second slider -->

     
      <section class="container my-3">
          <div class="schedule_headtitle lh-10">
            <h4 class="text-white fs-16 fw-700 m-0">TATA IPL 2024</h4>
            <span class="text-gray fs-9">Starts 22nd March</span>
          </div>

      </section>


    <section class="container p-0">
        <div class="container px-2">
            <ul
              class="nav nav-pills nav-fill nav-custom mbet nav_link_width mb-1 justify-content-start gap-2"
              id="pills-tab"
              role="tablist"
            >
           
              <li class="nav-item" role="presentation">
                <button
                  class="schedule nav-link br-gray fs-15 fw-700 bgbor_none text-white d-flex align-items-center justify-content-center w-106 active"
                  id="pills-home-tab"
                  data-bs-toggle="pill"
                  data-bs-target="#pills-home"
                  type="button"
                  role="tab"
                  aria-controls="pills-home"
                  aria-selected="true"  style="width: 106px !important;"
                >
                <img src="../img/avatar/schedule/ic (2).png" alt="" srcset="" width="20" class="mr-5">
                 Schedule
                </button>
              </li>
              <li class="nav-item" role="presentation" >
               
                <a href="./schedule_pointtable.html" class="text-decoration-none"> 
                <button
                  class="schedule nav-link br-gray fs-15 fw-700 bgbor_none text-white d-flex align-items-center justify-content-center w-106"
                  id="pills-profile-tab"
                  data-bs-toggle="pill"
                  data-bs-target="#pills-profile"
                  type="button"
                  role="tab"
                  aria-controls="pills-profile"
                  aria-selected="false"   style="width: 112px !important;"
                >
                <img src="../img/avatar/schedule/ic (1).png" alt="" srcset="" width="16" class="mr-5">
                Points Table
                </button>
                </a>

              </li>
             
            </ul>
        </div>
    
        

        <div class=" br-0  mbspace-0  px-2" style="height: 500px; overflow-y: scroll;">
          <!-- card start -->
          <div class="card py-2 bg-purple br-10 mb-3">

            <!-- test -->
           
           
              <div class=" my-2 px-2 d-flex justify-content-between align-items-center">
                 <span class="text-gray fs-13 fw-700">22 MAR  Match 1</span>

                 <span class="bg_black text-white px-2 fs-9 ">UPCOMING</span>
              </div>
            <div class="my-2 px-2">
                <div class="team-det">
                    <div class="col-12 d-flex  align-items-center gap-2">
                        
                        <img src="../img/avatar/schedule/lo (2).png" alt="" srcset="" width="30">
                        <h4 class="text-white fs-16 fw-600 m-0">CSK</h4>
                    </div>
                    <div class="col-12 d-flex  align-items-center gap-2">
                        <img src="../img/avatar/schedule/lo (1).png" alt="" srcset="" width="30">
                        <h4 class="text-white fs-16 fw-600 m-0">RCB</h4>
                    </div>
                  </div>
                  
            <div class="mt-2">
                <div class="text-yellow">
                    <span class="fw-500">
                        Match begins at 8:00 pm
                    </span>
                </div>
            </div>
              
            </div>



           
             
          </div>


          <!-- card end -->
           <!-- card start -->
           <div class="card py-2 bg-purple br-10 mb-3">

            <!-- test -->
           
           
              <div class=" my-2 px-2 d-flex justify-content-between align-items-center">
                 <span class="text-gray fs-13 fw-700">22 MAR  Match 1</span>

                 <span class="bg_black text-white px-2 fs-9 ">UPCOMING</span>
              </div>
            <div class="my-2 px-2">
                <div class="team-det">
                    <div class="col-12 d-flex  align-items-center gap-2">
                        
                        <img src="../img/avatar/schedule/lo (2).png" alt="" srcset="" width="30">
                        <h4 class="text-white fs-16 fw-600 m-0">CSK</h4>
                    </div>
                    <div class="col-12 d-flex  align-items-center gap-2">
                        <img src="../img/avatar/schedule/lo (1).png" alt="" srcset="" width="30">
                        <h4 class="text-white fs-16 fw-600 m-0">RCB</h4>
                    </div>
                  </div>
                  
            <div class="mt-2">
                <div class="text-yellow">
                    <span class="fw-500">
                        Match begins at 8:00 pm
                    </span>
                </div>
            </div>
              
            </div>



           
             
          </div>


          <!-- card end -->
           <!-- card start -->
           <div class="card py-2 bg-purple br-10 mb-3">

            <!-- test -->
           
           
              <div class=" my-2 px-2 d-flex justify-content-between align-items-center">
                 <span class="text-gray fs-13 fw-700">22 MAR  Match 1</span>

                 <span class="bg_black text-white px-2 fs-9 ">UPCOMING</span>
              </div>
            <div class="my-2 px-2">
                <div class="team-det">
                    <div class="col-12 d-flex  align-items-center gap-2">
                        
                        <img src="../img/avatar/schedule/lo (2).png" alt="" srcset="" width="30">
                        <h4 class="text-white fs-16 fw-600 m-0">CSK</h4>
                    </div>
                    <div class="col-12 d-flex  align-items-center gap-2">
                        <img src="../img/avatar/schedule/lo (1).png" alt="" srcset="" width="30">
                        <h4 class="text-white fs-16 fw-600 m-0">RCB</h4>
                    </div>
                  </div>
                  
            <div class="mt-2">
                <div class="text-yellow">
                    <span class="fw-500">
                        Match begins at 8:00 pm
                    </span>
                </div>
            </div>
              
            </div>



           
             
          </div>


          <!-- card end -->
           <!-- card start -->
           <div class="card py-2 bg-purple br-10 mb-3">

            <!-- test -->
           
           
              <div class=" my-2 px-2 d-flex justify-content-between align-items-center">
                 <span class="text-gray fs-13 fw-700">22 MAR  Match 1</span>

                 <span class="bg_black text-white px-2 fs-9 ">UPCOMING</span>
              </div>
            <div class="my-2 px-2">
                <div class="team-det">
                    <div class="col-12 d-flex  align-items-center gap-2">
                        
                        <img src="../img/avatar/schedule/lo (2).png" alt="" srcset="" width="30">
                        <h4 class="text-white fs-16 fw-600 m-0">CSK</h4>
                    </div>
                    <div class="col-12 d-flex  align-items-center gap-2">
                        <img src="../img/avatar/schedule/lo (1).png" alt="" srcset="" width="30">
                        <h4 class="text-white fs-16 fw-600 m-0">RCB</h4>
                    </div>
                  </div>
                  
            <div class="mt-2">
                <div class="text-yellow">
                    <span class="fw-600">
                        Match begins at 8:00 pm
                    </span>
                </div>
            </div>
              
            </div>



           
             
          </div>


          <!-- card end -->



        
       
       
        
           
  
        
  
      
        </div>
          </div>


    </section>


    <div class="footer-bg-area"></div>
      


      <div class="footer">
        <div class="footer-tab flex-grow-1 after-line">
          <a href="home.html" class="tab-action">
            <img src="../img/icon/icon-x.svg" class="tab-icon" />
            <div class="tab-label">Home</div>
          </a>
        </div>
        <div class="footer-tab flex-grow-1 after-line">
          <a href="./inplay.html" class="tab-action">
            <img src="../img/icon/icon-play.svg" class="tab-icon" />
            <div class="tab-label">In-Play</div>
          </a>
        </div>
        <div class="footer-tab flex-grow-1">
          <a href="./refer&earn.html" class="tab-action">
            <img src="../img/icon/icon-refer.svg" class="tab-icon" />
            <div class="tab-label">Refer &amp; Earn</div>
          </a>
        </div>
        <div class="footer-tab flex-grow-1 before-line">
          <a href="./livecasino.html" class="tab-action">
            <img src="../img/icon/cassinoactive.png" class="tab-icon" style="width: 22px;height: 17px;"/>
            <div class="tab-label">Casino</div>
          </a>
        </div>
        <div class="footer-tab flex-grow-1 before-line">
          <a href="menu.html" class="tab-action">
            <img src="../img/icon/icon-menu-bar.svg" class="tab-icon" />
            <div class="tab-label" style="margin-bottom: -8px">Menu</div>
          </a>
        </div>
      </div>
    </div>
        <!-- Modal -->
        <div class="modal fade Search_box_container" id="search_pop_up" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content" style="background: none  !important;border: none;">
               
                <div class="modal-body px-0">
                    <div class="input-group mb-3 mt-5 pt-5">
                        <input type="text" class="form-control bg-purple text-white Search_textbox" placeholder="Search Games" aria-label="Recipient's username" aria-describedby="basic-addon2" aria-placeholder="Search Games">
                        <span class="input-group-text bg-yellow" id="basic-addon2"><img
                          src="../img/icon/Group 332.png"
                          alt="phone call"
                          width="15"
                        /></span>
                        
                      </div>
                </div>
                
              </div>
            </div>
          </div>
          
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>

    <script>
      var TrandingSlider = new Swiper(".tranding-slider", {
        effect: "coverflow",
        grabCursor: true,
        centeredSlides: true,
        loop: true,
        slidesPerView: "auto",
        coverflowEffect: {
          rotate: 0,
          stretch: 0,
          depth: 100,
          modifier: 2.5,
        },
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
      });
    </script>

    <script>
      const swiper = new Swiper(".swiper.second", {
        // Optional parameters
        loop: true,
        centeredSlides: true,
        // Navigation arrows
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
        breakpoints: {
          // when window width is >= 320px
          320: {
            slidesPerView: 4,
            spaceBetween: 30,
          },
          // when window width is >= 320px
          768: {
            slidesPerView: 3,
            spaceBetween: 30,
          },
          // when window width is >= 480px
          1024: {
            slidesPerView: 4,
            spaceBetween: 40,
          },
          // when window width is >= 640px
          1280: {
            slidesPerView: 5,
            spaceBetween: 50,
          },
        },
      });
    </script>
  </body>
</html>
