
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Sikander PlayX</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/home.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap"
      rel="stylesheet"
    />
   <link rel="stylesheet" href="../css/new_style.css" />
    <script src="../js/bootstrap.bundle.js"></script>
    <script src="../js/jquery.min.js"></script>
    <style>
      .swiper-wrapper.mr-15 .swiper-slide {
    margin-right: 15px !important;
}
    </style>
    <style>
      @media (min-width: 401px){
    .slider_purple_btn {
    width: 94px;
    padding: 4px;
    font-size: 11px;
    font-weight: 400;
    }}

  
    .pointable.table>:not(caption)>*>* {
      background-color: #f0f0f0 !important;
    }

     .pointable.table{
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
     }


    </style>
    

    <script src="../js/jquery.min.js"></script>
  </head>
  <body>
    <div class="container container-xs home-bg position-relative ">
      <div
        class="home-header d-flex justify-content-between align-items-center pt-4 z-3"
      >
        <a
          href="deposite.html"
          class="btn btn-sm btn-grnd text-white fs-12 d-flex align-items-center"
        >
          <img src="../img/icon/icon-deposit.png" width="14" />
          <span class="ms-2 pl-5">Deposit</span>
        </a>
        <a href="./home.html">
          <img
          src="../img/home-x-logo.png"
          class="logo_xnew position-relative" 
        />
        </a>
        <a
          href="withdrawal.html"
          class="btn btn-sm btn-grnd text-white fs-12 d-flex align-items-center"
        >
          <img
            src="../img/icon/icon-withdrawal.png"
            width="14"
            style="color: white"
          />
          <span class="ms-2">Withdrawal</span>
        </a>
      </div>
      <div class="home-header-bg-area"></div>
      <div class="container container-xs home-custom-hight position-relative overflow-x">
        <div class="d-flex align-items-end">
          <div class="me-2">
            <a href="customerSupport.html" class="btn btn-sm btn-grnd">
              <img
                src="../img/icon/icon-phone-call.svg"
                alt="phone call"
                width="15"
              />
            </a>
          </div>
          <div class="d-flex flex-grow-1">
            <div class="col d-flex justify-content-end">
              <a href="./pointpage2.html" class="card-tile">
                <div class="mb-2">
                  <img src="../img/icon/icon-money.svg" width="21" />
                </div>
                <div class="fw-700 fs-12 text-white mb-1 fs-12">12,526</div>
                <div class="text-white-75 fs-10">Balance</div>
              </a>
            </div>
            <div class="col d-flex justify-content-center">
              <a href="./pointpage3.html" class="card-tile">
                <div class="mb-2">
                  <img src="../img/icon/icon-star.svg" width="25" />
                  <!--  -->
                </div>
                <div class="fw-700 fs-12 text-white mb-1 fs-12">4100</div>
                <div class="text-white-75 fs-10">Bonus</div>
              </a>
            </div>
            <div class="col d-flex justify-content-start">
              <a href="./mybetsports.html" class="card-tile">
                <div class="mb-2">
                  <img src="../img/icon/icon-achivements.svg" width="22" />
                </div>
                <div class="fw-700 fs-12 text-white mb-1 fs-12" >95,000</div>
                <div class="text-white-75 fs-10">Exposure</div>
              </a>
            </div>
          </div>
          <div class="d-flex justify-content-end ms-2 "  data-bs-toggle="modal" data-bs-target="#exampleModal">
            <a href="#" class="btn btn-sm btn-grnd">
              <img
                src="../img/icon/icon-search.svg"
                alt="phone call"
                width="15"
              />
            </a>
          </div>
        </div>

        <!-- slider banner -->
        <!-- second slider -->

     
      <section class="container my-3">
          <div class="schedule_headtitle lh-10">
            <h4 class="text-white fs-16 fw-700 m-0">TATA IPL 2024</h4>
            <span class="text-gray fs-9">Starts 22nd March</span>
          </div>

      </section>


    <section class="container p-0">
        <div class="container px-2">
            <ul
              class="nav nav-pills nav-fill nav-custom mbet nav_link_width mb-1 justify-content-start gap-2"
              id="pills-tab"
              role="tablist"
            >
           
              <li class="nav-item" role="presentation">
                <a href="./schedule_page.html" class="text-decoration-none">
                <button
                  class="schedule nav-link br-gray fs-15 fw-700 bgbor_none text-white d-flex align-items-center justify-content-center w-106 "
                  id="pills-home-tab"
                  data-bs-toggle="pill"
                  data-bs-target="#pills-home"
                  type="button"
                  role="tab"
                  aria-controls="pills-home"
                  aria-selected="true"  style="width: 106px !important;"
                >
                <img src="../img/avatar/schedule/ic (2).png" alt="" srcset="" width="20" class="mr-5">
                 Schedule
                </button>
              </a>
              </li>
              <li class="nav-item" role="presentation" >
                <button
                  class="schedule nav-link br-gray fs-15 fw-700 bgbor_none text-white d-flex align-items-center justify-content-center w-106 active"
                  id="pills-profile-tab"
                  data-bs-toggle="pill"
                  data-bs-target="#pills-profile"
                  type="button"
                  role="tab"
                  aria-controls="pills-profile"
                  aria-selected="false"   style="width: 112px !important;"
                >
                <img src="../img/avatar/schedule/ic (1).png" alt="" srcset="" width="16" class="mr-5">
                Points Table
                </button>
              </li>
             
            </ul>
        </div>
    <div style="height: 500px; overflow-y: scroll;">

   
  <div class="card p-2" style="background:#F0F0F0" >
    <div class="table-responsive">
        <table class="table table-bordered table-sm table-bordered-cus p-0 pointable" style="border-color: #9a9a9a;">
          <thead>
            <tr class="text-bold">
              <th style="width:10px">#POS</th>
              <th style="width: 69px;">TEAM</th>
              <th style="width: 39px;">P</th>
              <th>W</th>
              <th>L</th>
              <th>NR</th>
              <th>NRR</th>
              <th>PTS</th>
              <th></th>
            </tr>
          </thead>
          <tbody class="text-center">

            <tr>
              <td class="text-center fw-700">1 .</td>
              <td>
                <div class="col-12 d-flex  align-items-center justify-content-center gap-1">
                    
                <img src="../img/avatar/schedule/lo (2).png" alt="" srcset="" width="22">
                <h4 class="text-black fs-12 fw-600 m-0 position-relative" style="top: 3px;">CSK</h4>
               </div>
              </td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>-</td>
              <td>0</td>
              <td>
                <img src="../img/avatar/schedule/Group 116.png" alt="" srcset="" width="10">
              </td>
            </tr>

            <tr>
              <td class="text-center fw-700">2 .</td>
              <td>
                <div class="col-12 d-flex  align-items-center justify-content-center gap-1">    
                <img src="../img/avatar/schedule/lo.png" alt="" srcset="" width="19">
                <h4 class="text-black fs-12 fw-600 m-0 position-relative" style="top: 1px;">DC</h4>
               </div>
              </td>
              <td>0</td>
              <td>
                0
              </td>
              <td>0</td>
              <td>
                0
              </td>
              <td>-</td>
              <td>
                0
              </td>
              <td>
                <img src="../img/avatar/schedule/Group 116.png" alt="" srcset="" width="10">
              </td>             
            </tr>

            <tr>
              <td class="text-center">3 .</td>
              <td>
                <div class="col-12 d-flex  align-items-center justify-content-center gap-1">
                    
                <img src="../img/avatar/schedule/lo (3).png" alt="" srcset="" width="25">
                <h4 class="text-black fs-12 fw-600 m-0 position-relative" style="top: 2px;">GT</h4>
               </div>
              </td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>-</td>
              <td>0</td>
              <td>
                <img src="../img/avatar/schedule/Group 116.png" alt="" srcset="" width="10">
              </td>
            </tr>

            <tr>
              <td class="text-center">4 .</td>
              <td>
                <div class="col-12 d-flex  align-items-center justify-content-center gap-1">  
                <img src="../img/avatar/schedule/lo (8).png" alt="" srcset="" width="14">
                <h4 class="text-black fs-12 fw-600 m-0 position-relative" style="top: 2px;">KKR</h4>
               </div>
              </td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>-</td>
              <td>0</td>
              <td><img src="../img/avatar/schedule/Group 116.png" alt="" srcset="" width="10"></td>
            </tr>

            <tr>
              <td class="text-center">5 .</td>
              <td>
                <div class="col-12 d-flex  align-items-center justify-content-center gap-1">
                    
                <img src="../img/avatar/schedule/lo (4).png" alt="" srcset="" width="22">
                <h4 class="text-black fs-12 fw-600 m-0 position-relative" style="top: 2px;">LSG</h4>
               </div>
              </td>
              <td>0</td>
            <td>
              0
            </td>
            <td>0</td>
            <td>
              0
            </td>
            <td>-</td>
            <td>
              0
            </td>
            <td>
              <img src="../img/avatar/schedule/Group 116.png" alt="" srcset="" width="10">
            </td>
           
             
              
            </tr>

            <tr>
              <td class="text-center">6 .</td>
              <td>
                <div class="col-12 d-flex  align-items-center justify-content-center gap-1">
                    
                <img src="../img/avatar/schedule/lo (5).png" alt="" srcset="" width="23">
                <h4 class="text-black fs-12 fw-600 m-0 position-relative" style="top: 2px;">MI</h4>
               </div>
              </td>
              <td>0</td>
            <td>
              0
            </td>
            <td>0</td>
            <td>
              0
            </td>
            <td>-</td>
            <td>
              0
            </td>
            <td>
              <img src="../img/avatar/schedule/Group 116.png" alt="" srcset="" width="10">
            </td>
            </tr>




            <tr>
              <td class="text-center">7 .</td>
              <td>
                <div class="col-12 d-flex  align-items-center justify-content-center gap-1">   
                <img src="../img/avatar/schedule/lo (9).png" alt="" srcset="" width="14">
                <h4 class="text-black fs-12 fw-600 m-0 position-relative" style="top: 1px;">PBKS</h4>
               </div>
              </td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>-</td>
              <td>
                0
              </td>
              <td>
                <img src="../img/avatar/schedule/Group 116.png" alt="" srcset="" width="10">
              </td>
            </tr>
          
          
      
   
             
              <tr>
                <td class="text-center">8 .</td>
                <td  class="text-center">
                  <div class="col-12 d-flex  align-items-center justify-content-center gap-1">
                      
                  <img src="../img/avatar/schedule/LOOO.png" alt="" srcset="" width="15">
                  <h4 class="text-black fs-12 fw-600 m-0 position-relative" style="top: 1px;">RR</h4>
                 </div>
                </td>
                <td>0</td>
              <td>
                0
              </td>
              <td>0</td>
              <td>
                0
              </td>
              <td>-</td>
              <td>
                0
              </td>
              <td>
                <img src="../img/avatar/schedule/Group 116.png" alt="" srcset="" width="10">
              </td>
             
               
                
              </tr>
              <tr>
                <td class="text-center">9 .</td>
                <td>
                  <div class="col-12 d-flex  align-items-center justify-content-center gap-1">
                      
                  <img src="../img/avatar/schedule/lo (1).png" alt="" srcset="" width="20">
                  <h4 class="text-black fs-12 fw-600 m-0 position-relative" style="top: 3px;">RCB</h4>
                 </div>
                </td>
                <td>0</td>
              <td>
                0
              </td>
              <td>0</td>
              <td>
                0
              </td>
              <td>-</td>
              <td>
                0
              </td>
              <td>
                <img src="../img/avatar/schedule/Group 116.png" alt="" srcset="" width="10">
              </td> 
              </tr>

              <tr>
                <td class="text-center">10 .</td>
                <td>
                  <div class="col-12 d-flex  align-items-center justify-content-center gap-1">
                      
                  <img src="../img/avatar/schedule/lo (7).png" alt="" srcset="" width="24">
                  <h4 class="text-black fs-12 fw-600 m-0">SRH</h4>
                 </div>
                </td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>-</td>
                <td> 0</td>
                <td>
                  <img src="../img/avatar/schedule/Group 116.png" alt="" srcset="" width="10">
                </td>
              </tr>
          
          </tbody>
        </table>
        </div>
     <div class="rule my-1">
      <div class="p-1">
        <h4 class="text-black fs-13 fw-600">GLOSSARY</h4>
    </div>
    <div class="p-1">
      <span class="f-15">
        <b> W </b>- The number of matches played   
       </span>
  </div>
        <div class="p-1">
            <span class="f-15">
             <b> #POS </b>-  Position in table   
            </span>
        </div>

        <div class="p-1">
            <span class="f-15">
             <b> P </b>- The number of matches played 
            </span>
        </div>

        <div class="p-1">
            <span class="f-15">
             <b> L </b>- The number of matches lost  
            </span>
        </div>
        <div class="p-1">
            <span class="f-15">
             <b> NR </b>- No result 
            </span>
        </div>
        <div class="p-1">
           
            <span class="f-15">
             <b> PTS </b>- Points
            </span>
        </div>
        <div class="p-1">
           
            <span class="f-15">
             <b> NRR </b>- Net run rate
            </span>
        </div>
        <div class="p-1">
           
            <span class="f-15">
             <b>   <img src="../img/avatar/schedule/Group 116.png" alt="" srcset="" width="10"> </b>- Moved down in the table
            </span>
        </div>
        <div class="p-1">
           
            <span class="f-15">
             <b>   <img src="../img/avatar/schedule/Group 116.png" alt="" srcset="" width="10" style="transform: rotate(180deg);"> </b>- Moved up in the table
            </span>
        </div>
        <div class="p-1">
           
            <span class="f-15">
             <b> . </b>- No change in position 
            </span>
        </div>

        <div class="p-1">
           
            <span class="f-15">
             <b class="" style="color:#1ed760"> | </b>- Qualified for next round
            </span>
        </div>
       
     </div>
       
 </div>
</div>
        
          </div>


    </section>





    <div class="footer-bg-area"></div>
      


      <div class="footer">
        <div class="footer-tab flex-grow-1 after-line">
          <a href="home.html" class="tab-action">
            <img src="../img/icon/icon-x.svg" class="tab-icon" />
            <div class="tab-label">Home</div>
          </a>
        </div>
        <div class="footer-tab flex-grow-1 after-line">
          <a href="./inplay.html" class="tab-action">
            <img src="../img/icon/icon-play.svg" class="tab-icon" />
            <div class="tab-label">In-Play</div>
          </a>
        </div>
        <div class="footer-tab flex-grow-1">
          <a href="./refer&earn.html" class="tab-action">
            <img src="../img/icon/icon-refer.svg" class="tab-icon" />
            <div class="tab-label">Refer &amp; Earn</div>
          </a>
        </div>
        <div class="footer-tab flex-grow-1 before-line">
          <a href="./livecasino.html" class="tab-action">
            <img src="../img/icon/cassinoactive.png" class="tab-icon" style="width: 22px;height: 17px;"/>
            <div class="tab-label">Casino</div>
          </a>
        </div>
        <div class="footer-tab flex-grow-1 before-line">
          <a href="menu.html" class="tab-action">
            <img src="../img/icon/icon-menu-bar.svg" class="tab-icon" />
            <div class="tab-label" style="margin-bottom: -8px">Menu</div>
          </a>
        </div>
      </div>
    </div>
        <!-- Modal -->
        <div class="modal fade Search_box_container" id="search_pop_up" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content" style="background: none  !important;border: none;">
               
                <div class="modal-body px-0">
                    <div class="input-group mb-3 mt-5 pt-5">
                        <input type="text" class="form-control bg-purple text-white Search_textbox" placeholder="Search Games" aria-label="Recipient's username" aria-describedby="basic-addon2" aria-placeholder="Search Games">
                        <span class="input-group-text bg-yellow" id="basic-addon2"><img
                          src="../img/icon/Group 332.png"
                          alt="phone call"
                          width="15"
                        /></span>
                        
                      </div>
                </div>
                
              </div>
            </div>
          </div>
          
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>

    <script>
      var TrandingSlider = new Swiper(".tranding-slider", {
        effect: "coverflow",
        grabCursor: true,
        centeredSlides: true,
        loop: true,
        slidesPerView: "auto",
        coverflowEffect: {
          rotate: 0,
          stretch: 0,
          depth: 100,
          modifier: 2.5,
        },
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
      });
    </script>

    <script>
      const swiper = new Swiper(".swiper.second", {
        // Optional parameters
        loop: true,
        centeredSlides: true,
        // Navigation arrows
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
        breakpoints: {
          // when window width is >= 320px
          320: {
            slidesPerView: 4,
            spaceBetween: 30,
          },
          // when window width is >= 320px
          768: {
            slidesPerView: 3,
            spaceBetween: 30,
          },
          // when window width is >= 480px
          1024: {
            slidesPerView: 4,
            spaceBetween: 40,
          },
          // when window width is >= 640px
          1280: {
            slidesPerView: 5,
            spaceBetween: 50,
          },
        },
      });
    </script>
  </body>
</html>
