<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Sikander PlayX</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/home.css" />

    <link
      href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&amp;display=swap"
      rel="stylesheet"
    />
    <script src="../js/jquery.min.js"></script>

    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper@8/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="../css/new_style.css" />
    <script src="../js/bootstrap.bundle.js"></script>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/sample.js"></script>
    <script type="text/javascript">
      window.hasMobileFirstExtension = true;
    </script>
  </head>
  <body>
    <div
      class="home-header d-flex justify-content-between align-items-center pt-4 z-3 page-header"
    >
      <a
        href="deposite.html"
        class="btn btn-sm btn-grnd text-white fs-12 d-flex align-items-center"
      >
        <img src="../img/icon/icon-deposit.png" width="14" />
        <span class="ms-2 pl-5">Deposit</span>
      </a>
      <a href="./main_new_page.html">
        <img src="../img/home-x-logo.png" class="logo_xnew position-relative" />
      </a>

      <a
        href="withdrawal.html"
        class="btn btn-sm btn-grnd text-white fs-12 d-flex align-items-center"
      >
        <img
          src="../img/icon/icon-withdrawal.png"
          width="14"
          style="color: white"
        />
        <span class="ms-2">Withdrawal</span>
      </a>
    </div>
    <div class="home-header-bg-area h-66"></div>

    <div class="container container-xs home-bg vh-100">
      <div class="app-main py-2" style="overflow-x: hidden">
        <div class="row gx-1">
          <div class="col">
            <a
              href="withdrawal.html"
              class="w-100 btn btn-sm bg-yellow flex-grow-1 fw-600 fs-10 fst-italic me-1 mb-2 px-1"
              >Withdrawal</a
            >
          </div>
          <div class="col">
            <a
              href="addAccount.html"
              class="w-100 btn btn-sm btn-grey flex-grow-1 fw-600 fs-10 fst-italic me-1 mb-2 px-1"
              >Add Account</a
            >
          </div>
        </div>

        <div class="d-flex w-100 px-1 mb-3">
          <div class="card-detail d-flex flex-column">
            <div class="row gx-1">
              <div class="col">
                <div
                  class="d-flex flex-column align-items-center justify-content-center"
                >
                  <img
                    src="../img/avatar.png"
                    width="35"
                    class="rounded-circle mb-1"
                  />
                  <span class="fs-12 fw-500 mb-1">King@X</span>
                </div>
              </div>
              <div class="col">
                <div
                  class="d-flex flex-column align-items-center justify-content-center"
                >
                  <!-- <div class="d-flex justify-content-center align-items-center">
                                      <div class="fw-600 fs-24 me-2">69</div>
                                      <img src="../img/icon/icon-star-award.png" width="24" />
                                  </div> -->
                  <!-- <div class="fs-10 ms-3 fw-500">Global Ranking</div> -->
                </div>
              </div>
              <div class="col">
                <div class="d-flex align-items-center justify-content-center">
                  <div
                    class="d-flex align-items-start justify-content-center mt-2"
                  >
                    <img src="../img/icon/icon-golde.png" class="mt-1" />
                    <div
                      class="d-flex flex-column align-items-center justify-content-center ms-2 fw-600"
                    >
                      <div class="fs-15">Gold club</div>
                      <div class="fs-10">Player</div>
                      <div class="text-blue fs-5">View Club T&amp;C</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row gx-1">
              <div class="col">
                <div
                  class="d-flex flex-column align-items-center bg-dark-pink py-1 px-2 rounded-1 bg-vio-part"
                >
                  <div class="d-flex align-items-center">
                    <span class="text-white me-2 fw-700">1,00,000</span>
                  </div>
                  <div class="fs-10 fw-600 text-white">Available Balance</div>
                </div>
              </div>
              <div class="col">
                <div
                  class="d-flex flex-column align-items-center bg-grey py-1 px-2 rounded-1 bg-vio-part"
                >
                  <div class="text-white me-2 fw-700">4,400</div>
                  <div class="fs-10 fw-600 text-white">Available Bonus</div>
                </div>
              </div>
              <div class="col">
                <div
                  class="d-flex flex-column align-items-center bg-grey py-1 px-2 rounded-1 bg-vio-part"
                >
                  <div class="text-white me-2 fw-700">6,000</div>
                  <div class="fs-10 fw-600 text-white">Total Bonus</div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="bank-detail mb-3 br-yell">
          <div class="bank-detail__row">
            <div class="bank-detail__label">
              <span class="text-black fw-600">Select Your Bank</span>
              <img src="../img/icon/icon-bank.png" />
            </div>
            <div class="bank-detail__data">
              <select class="text-black fw-600">
                <option class="text-black fw-600">Select</option>
              </select>
            </div>
          </div>
          <div class="bank-detail__row">
            <div class="bank-detail__label">
              <span class="text-black fw-600">Amount</span>
              <img src="../img/icon/icon-inr.svg" width="8" />
            </div>
            <!-- <div class="bank-detail__data text-black fw-600" style="font-size: 14px;">1,00,000</div> -->
            <div class="bank-detail__data text-black fw-600">
              <input
                type="text"
                value="1,00,000"
                class="fw-600"
                style="font-size: 14px"
              />
            </div>
          </div>
          <div class="bank-detail__row">
            <div class="bank-detail__label">
              <span class="text-black fw-600">Bank name</span>
              <img src="../img/icon/icon-bank.png" />
            </div>
            <div class="bank-detail__data" style="font-size: 14px">
              <select class="text-black fw-600">
                <option>Axis Bank Of India</option>
                <option>Bank Of India</option>
                <option>HDFC</option>
              </select>
            </div>
          </div>
          <div class="bank-detail__row">
            <div class="bank-detail__label">
              <span class="text-black fw-600">A/C Holder Name</span>
              <img src="../img/icon/icon-profile-circle.png" />
            </div>
            <div class="bank-detail__data text-black fw-600">Sikander</div>
          </div>
          <div class="bank-detail__row">
            <div class="bank-detail__label">
              <span class="text-black fw-600">A/C No.</span>
              <img src="../img/icon/icon-text-list.png" />
            </div>
            <div class="bank-detail__data text-black fw-600">987654321</div>
          </div>
          <div class="bank-detail__row">
            <div class="bank-detail__label">
              <span class="text-black fw-600">IFSC</span>
              <img src="../img/icon/icon-text-list.png" />
            </div>
            <div class="bank-detail__data text-black fw-600">
              75896412536547
            </div>
          </div>
        </div>

        <div class="d-flex justify-content-center my-5">
          <a
            href="#"
            data-bs-toggle="modal"
            data-bs-target="#payment"
            class="btn btn-sm btn-success bg-green fw-600 px-4 fs-16 br-yellow withdraw_btn"
            bis_skin_checked="1"
            >Withdraw</a
          >
        </div>

        <div class="table-responsive">
          <table class="table table-bordered table-sm table-bordered-cus">
            <thead class="br-yellow">
              <tr>
                <th>Date</th>
                <th>Amount</th>
                <th>Type</th>
                <th>Detail</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>26-01-2024</td>
                <td>500</td>
                <td>UPI</td>
                <td>Upi transation</td>
                <td>Pending</td>
              </tr>
              <tr>
                <td>16-01-2024</td>
                <td>1200</td>
                <td>Phone pay</td>
                <td>Upi transation</td>
                <td>Success</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="footer-bg-area"></div>

      <div class="footer">
        <div class="footer-tab flex-grow-1 after-line">
          <a href="main_new_page.html" class="tab-action">
            <img src="../img/icon/icon-x.svg" class="tab-icon" />
            <div class="tab-label">Home</div>
          </a>
        </div>
        <div class="footer-tab flex-grow-1 after-line">
          <a href="./inplay.html" class="tab-action">
            <img src="../img/icon/icon-play.svg" class="tab-icon" />
            <div class="tab-label">In-Play</div>
          </a>
        </div>
        <div class="footer-tab flex-grow-1">
          <a href="./refer&amp;earn.html" class="tab-action">
            <img src="../img/icon/icon-refer.svg" class="tab-icon" />
            <div class="tab-label">Refer &amp; Earn</div>
          </a>
        </div>
        <div class="footer-tab flex-grow-1 before-line">
          <a href="./livecasino.html" class="tab-action">
            <img src="../img/icon//icon-casino.svg" class="tab-icon" />
            <div class="tab-label">Casino</div>
          </a>
        </div>
        <div class="footer-tab flex-grow-1 before-line">
          <a href="menu.html" class="tab-action">
            <img src="../img/icon/icon-menu-bar-active.svg" class="tab-icon" />
            <div class="tab-label" style="margin-bottom: -8px">Menu</div>
          </a>
        </div>
      </div>

      <div class="modal fade" id="payment" tabindex="-1" aria-hidden="true">
        <div
          class="modal-dialog modal-dialog-centered modal-sm justify-content-center"
        >
          <div class="modal-content" style="width: 200px">
            <div class="modal-body d-flex flex-column align-items-center">
              <img src="../img/success.png" class="mb-2 ml-n25" />
              <div class="fw-600 fs-11 text-center text-black mb-3">
                Succesfully Done
              </div>
              <span
                class="bg-green2 text-white fs-12 fw-600 rounded-3 py-2 px-3 mb-2"
                >Thank You</span
              >
              <span class="text-dard-grey fs-9 fw-600"
                >For Choosing Sikanderplayx</span
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      $(document).ready(function () {
        $(".support-banner-carousel").owlCarousel({
          items: 1,
          lazyLoad: true,
          loop: true,
          margin: 10,
          dots: false,
        });
      });
    </script>
  </body>
</html>
